.home-main-cont {
  background-color: slategrey;
  overflow-y: scroll;
}

.home-main-cont::-webkit-scrollbar {
  width: 10px;
}

.home-main-cont::-webkit-scrollbar-thumb {
  background: white;
  box-shadow: inset 0 0 10px black;
}
