.header-main-cont {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 4px;
  width: 100%;
}

.link {
  border: none;
  text-decoration: none;
  margin: 2px;
  font-weight: bold;
}
