.header-main-cont {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: slategrey;
  padding: 4px;
}

.link {
  border: none;
  background-color: inherit;
  color: #ffffff;
  text-decoration: none;
  margin: 2px;
}
